body{
    background-color: #0a0a23;
}

#text{
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
}

#game-container{
    background-color: #ffffff;
    color: #ffffff;
    max-width: 500px;
    max-height: 400px;
    padding: 10px;
    margin: 30px auto 0 auto;
}

#controls, #stats{
    color: #0a0a23;
    border: 1px solid #0a0a23;
    padding: 5px;
}

#monster-health{
    background-color: #c70d0d;
    color: #ffffff;
    padding: 5px;
    border: 1px solid #0a0a23;
    display: none;
}

.stat{
    padding-right: 10px;
}

button{
    cursor: pointer;
    background-color: #feac23;
    background-image: linear-gradient(#fecc4c, #feac23);
    border: 3px solid #feac23;
    color: #0a0a23;
}